[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django-crispy-forms = "*"
django-tables2 = "*"
mysqlclient = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
Django = "*"
qrcode = "*"
xhtml2pdf = "*"
pillow = "*"
crispy-bootstrap4 = "*"

[requires]
python_version = "3.9"

[dev-packages]
yapf = "*"
