body {
  width: 100%;
  background: #fafafa;
  color: #333333;
  text-align: center;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("redes.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Explorar...";
  border-width: thick;
}

.custom-file, .custom-file-input, .custom-file-label {
  cursor: pointer !important;
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: #80bdff;
}

.button-vincular-socio {
  text-align: left;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-vincular-socio:hover {
  color: #495057;
}


/* +--------------------------------------------------------------------+ */
/* | EVENTUALMENTE BORRAR CUANDO ESTE COMPROBADO QUE TODO ANDA SIN ESTO | */
/* +--------------------------------------------------------------------+ */
/*                               +---+                                    */
/*                               |   |                                    */
/*                               |   |                                    */
/*                               |   |                 _   _              */
/*                               |   |                 + . +              */
/*                           +---+   +---+            ._____.             */
/*                            \         /              \___/              */
/*                             \       /                                  */
/*                              \     /                                   */
/*                               \   /                                    */
/*                                \ /                                     */
/*                                 +                                      */

/* .wrapper { */
/*   width: 100%; */
/*   margin: 0 auto; */
/* } */

/* .content-area{ */
/*   width: 100%; */
/*   position: relative; */
/*   background: #ddd; */

/* } */

/* .content-area h2{ */
/*   font-family: Arial, Helvetica, sans-serif; */
/*   letter-spacing: 4px; */
/*   padding-top: 30px; */
/* } */

/* ul { */
/*   margin: 0; */
/* } */

/* .content-section { */
/*   background: #ffffff; */
/*   padding: 10px 20px; */
/*   border: 1px solid #dddddd; */
/*   border-radius: 3px; */
/*   margin-bottom: 20px; */
/* } */

/* .article-title { */
/*   color: #444444; */
/* } */

/* a.article-title:hover { */
/*   color: #428bca; */
/*   text-decoration: none; */
/* } */

/* .article-content { */
/*   white-space: pre-line; */
/* } */

/* .article-img { */
/*   height: 65px; */
/*   width: 65px; */
/*   margin-right: 16px; */
/* } */

/* .article-metadata { */
/*   padding-bottom: 1px; */
/*   margin-bottom: 4px; */
/*   border-bottom: 1px solid #e3e3e3 */
/* } */

/* .article-metadata a:hover { */
/*   color: #333; */
/*   text-decoration: none; */
/* } */

/* .article-svg { */
/*   width: 25px; */
/*   height: 25px; */
/*   vertical-align: middle; */
/* } */

/* .account-img { */
/*   height: 125px; */
/*   width: 125px; */
/*   margin-right: 20px; */
/*   margin-bottom: 16px; */
/* } */

/* .account-heading { */
/*   font-size: 2.5rem; */
/* } */
