{% extends "menu_estacionamiento.html" %}

{% load crispy_forms_tags %}

{% block subtitle %}
  <h1>Apertura Manual</h1>
{% endblock subtitle %}

{% block content %}

  <div class="container" style="padding: 20px;">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <form class="form-container" method="POST">
              <div class="form-group">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6">
                    {{ form.razon|as_crispy_field }}
                  </div>
                  <div class="col-6">
                    {{ form.direccion|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    {{ form.comentario|as_crispy_field }}
                  </div>
                </div>
                <div class="form-group" style="padding-top:10px">
                  <button class="btn btn-outline-info" type="submit">Guardar</button>
                  <a href="{% url 'estacionamiento:historial' %}">
                    <button class="btn btn-outline-info" type="button">Cancelar</button>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content%}
