{% extends "menu_estacionamiento.html" %}

{% load static %}
{% block subtitle %}
  <h1>Detalle Estacionamiento</h1>
{% endblock subtitle %}

{% block content %}
{% endblock content %}

{% block js %}
  <div class="container" style="padding: 20px">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.tipo }}</p>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Tipo</span>
              </div>
            </div>

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.identificador }}</p>
              <div class="input-group-append">
                {% if datos.persona %}
                  <span class="input-group-text" id="basic-addon2">Nombre y Apellido</span>
                {% elif datos.noSocio %}
                  <span class="input-group-text" id="basic-addon2">DNI</span>
                {% elif datos.proveedor %}
                  <span class="input-group-text" id="basic-addon2">Proveedor</span>
                {% endif %}
              </div>
            </div>

            {% if datos.persona %}
              <div class="input-group mb-3">
                <p style="text-align:left" class="form-control">{{ datos.persona.dni }}</p>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">DNI</span>
                </div>
              </div>
              <div class="input-group mb-3">
                <p style="text-align:left" class="form-control">{{ datos.persona.nrTarjeta }}</p>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Nr. Tarjeta</span>
                </div>
              </div>
              <div class="input-group mb-3">
                <p style="text-align:left" class="form-control">{{ datos.persona.nrSocio }}</p>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Nr. Socio</span>
                </div>
              </div>
            {% endif %}

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.tiempo }}</p>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Fecha y Hora</span>
              </div>
            </div>

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.direccion }}</p>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Dirección</span>
              </div>
            </div>

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.cicloCaja }}</p>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Ciclo Caja</span>
              </div>
            </div>

            <div class="input-group mb-3">
              <p style="text-align:left" class="form-control">{{ datos.autorizado }}</p>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Autorizado</span>
              </div>
            </div>

            {% if datos.mensaje %}
              <div class="input-group mb-3">
                <p style="text-align:left" class="form-control">{{ datos.mensaje }}</p>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Descripción</span>
                </div>
              </div>
            {% endif %}

            <div>
              {% if origen == 'tiempo-real' %}
                <a href="{% url 'menu_estacionamiento:resumenTiempoReal' %}" style="text-decoration:none" class="btn btn-outline-info">Atrás</a>
              {% else %}
                <a href="{% url 'estacionamiento:historial' %}" style="text-decoration:none" class="btn btn-outline-info">Atrás</a>
              {% endif %}
              <a href="{% url 'estacionamiento:editar' datos.id origen %}" style="text-decoration:none" class="btn btn-outline-info">Editar</a>
              {% if datos.direccion == 'ENTRADA' %}
                {% if cobrado == 'False' %}
                  {% if datos.tipo == 'NOSOCIO' or datos.tipo == 'SOCIO-MOROSO' %}
                    <a style="text-decoration:none">
                      <button style="text-decoration:none" class="btn btn-outline-info" data-toggle="modal" data-target="#modalCobrar" id="cobrarEntrada">Cobrar</button>
                    </a>
                  {% endif %}
                  {% if datos.tipo == 'SOCIO-MOROSO'%}
                    <a style="text-decoration:none">
                      <button style="text-decoration:none" class="btn btn-outline-info" data-toggle="modal" data-target="#modalDeuda" id="pagarDeuda">Regularizar Deuda</button>
                    </a>
                  {% endif %}
                  {% if datos.tipo == 'SOCIO' %}
                    <button type="button" style="text-decoration:none" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSvg">Generar código QR</button>
                  {% endif %}
                {% else %}
                  <button type="button" style="text-decoration:none" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSvg">Generar código QR</button>
                {% endif %}
              {% endif %}
            </div>

            <!-- Inicio ModalCobro -->
            <div class="modal fade" id="modalCobrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cobrar Entrada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id = 'recaudadoTexto'>Tarifa a pagar es: </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="cobrarDinero">Cobrar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin ModalCobro -->

            <!-- Inicio ModalDeuda -->
            <div class="modal fade" id="modalDeuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Regularizar Deuda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id = 'deuda_a_Pagar'>La deuda del socio es: {{ recaudado }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id = "regularizar">Regulizar Deuda</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin ModalDeuda -->

            <!-- Inicio ModalSVG -->
            <div class="modal fade" id="modalSvg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">SAGVB Bono Estacionamiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Fecha: {{ fecha }}</p>
                    <p>Hora: {{ hora }}</p>
                    {% if datos.tipo != 'SOCIO' %}
                      <p>Importe: ${{ importe }}</p>
                    {% endif %}
                    {% autoescape off %}
                      {{ svg }}
                    {% endautoescape %}
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'estacionamiento:gen-pdf' datos.id origen %}" target="_blank">Generar PDF</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin ModalSVG -->

            <p style="display:none" id="origen">{{ origen }}</p>

            <script type="text/javascript">
              const origen = document.getElementById('origen').innerHTML;

              const loadPrecio = async () => {
                try {
                  const res = await fetch(`${origen}/cobrarEntrada`);
                  var precio = await res.json();
                  drawPrecio(precio)
                } catch (err) {
                  console.error(err);
                }
              };

              const drawPrecio = (precio) => {
                document.getElementById('recaudadoTexto').innerHTML = `Tarifa a pagar es: $${precio} `
              };

              const cobrarTarifa = async () =>{
                try {
                  const options = {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    }
                  };
                  const res = await fetch(`${origen}/cobrarEntrada`, options);
                  const respuesta = await res.json();
                  if (respuesta) {
                    window.open(`../gen-pdf/${origen}`);
                    location.href = `./${origen}`;
                  }
                } catch (err) {
                  console.error(err);
                }
              };

              const loadDeuda = async () =>{
                try {
                  const res = await fetch('../pago_deuda');
                  var deuda = await res.json();
                  drawDeuda(deuda)
                } catch (err) {
                  console.error(err);
                }
              };

              const drawDeuda = (deuda) =>{
                document.getElementById('deuda_a_Pagar').innerHTML = `La deuda del socio es: $${deuda}`
              };

              const regularizarDeuda = async () =>{
                try {
                  const options = {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    }
                  };
                  const res = await fetch('../pago_deuda', options);
                  const respuesta = await res.json();
                  if(respuesta) {
                    window.open(`../gen-pdf/${origen}`);
                    location.href = `./${origen}`;
                  }
                } catch (err) {
                  console.error(err);
                }
              };

              document.getElementById('cobrarEntrada').addEventListener('click', () =>{
                loadPrecio();
              });

              document.getElementById('cobrarDinero').addEventListener('click', () =>{
                cobrarTarifa();
              });

              document.getElementById('pagarDeuda').addEventListener('click', () => {
                loadDeuda();
              });

              document.getElementById('regularizar').addEventListener('click', () => {
                regularizarDeuda();
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock js %}
