{% extends "base.html" %}

{% block subtitle %}
  <h1>Has Cerrado Sesión</h1>
{% endblock subtitle %}

{% block content %}

  <div class="container" style="padding: 20px;">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <a href="{% url 'login' %}">
              <button class="btn btn-outline-info">Iniciar sesión nuevamente</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
