{% extends "usuariosistema/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="hero-image">
    <div class="hero-text">
      <h1>Registrese Acá</h1>
      <p style="font-size: 20px;">Sistema de Control</p>
    </div>
  </div>

  <div class="content-section" style="padding:20px">
    <form method="POST">
    {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Registrese</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Si ya tiene un usuario registrado<a class="ml-2" href="{% url 'login' %}">inicie sesión acá</a>
      </small>
    </div>
  </div>
{% endblock %}
