{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}

{% block subtitle %}
  <h1>Lista de Proveedores</h1>
{% endblock subtitle %}

{% block content %}
  <div class="content-section" style="padding:36px;">
    <div id="form_card" class="card-panel col s12">

      <div class="d-flex">
        <div class="mr-auto p-2">
          <div class="mr-auto">
            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <input type="text" placeholder="Buscar..." name="buscar" id="buscar" value="" class="form-control"></input>
                  <button type="button" id="clear-button" class="btn btn-secondary" style="margin-left:20px">
                    <i>Borrar búsqueda</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <a href="{% url 'estacionamiento:agregar-proveedor' %}" class="btn btn-outline-info">Agregar un proveedor</a>
        </div>

        <div class="p-2">
          <a href="{% url 'usuario:lista' %}" class="btn btn-outline-info">Mostrar socios</a>
        </div>
      </div>

      <!-- Tabla de proveedores -->
      <div style="padding-top:40px; padding-left:10px; padding-right:10px; padding-bottom:10px">
        <table class="table">
          <thead>
            <tr>
              <th class="orderable">
                <a href="" style="text-decoration: none">ID</a>
              </th>
              <th class="orderable">
                <a href="" style="text-decoration: none">Proveedor</a>
              </th>
          </thead>

          <tbody id="proveedores"></tbody>
        </table>

        <nav aria-label="Table navigation">
          <ul id="navbuttons" class="pagination justify-content-center"></ul>
        </nav>
      </div>

    </div>
  </div>

  <script src="{% static 'usuariosistema/proveedores.js' %}">
{% endblock content %}
