{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block subtitle %}
  <h1>Historial</h1>
{% endblock subtitle %}

{% block content %}
  <div class="wrapper" style="padding-left:80px; padding-right:80px;">
    <form method="get">
      <div class="input-group mx-auto" style="margin-top: 50px;">
        <input type="text"  placeholder="Buscar..." name="buscar" value="">
        <div>
          <button class="btn btn-secondary" type="submit" style="margin-left: 20px;">
            <i>Buscar</i>
          </button>
        </div>
      </div>
    </form>

    <div style="padding:20px">
      {% render_table table %}
    </div>
  </div>
{% endblock content%}
