{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block subtitle %}
  <h1>Entrada No Socios</h1>
{% endblock subtitle %}

{% block content %}
  <div class="content-section" style="padding:20px;">
    <div id="form_card" class="card-panel col s12">

      <form method="POST">
        {% csrf_token %}
        <div class="form-group"style="padding-top:10px">
          <label for="cantidad">Cantidad de Personas: </label>
          <input type="text" id="cantidad" name="cantidad"><br><br>
          <button class="btn btn-outline-info" type="submit" name="direccion" value="ENTRADA">Entrada</button>
          <button class="btn btn-outline-info" type="submit" name="direccion"value="SALIDA" >Salida</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
