{% extends "menu_estacionamiento.html" %}

{% block subtitle %}
  <h1>Calendario</h1>
{% endblock subtitle %}

{% block content %}

<!--https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html-->
<!--
<div class="container" style="padding: 20px;">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
        
                    <div class="input-group mb-3" style="padding-top:25px">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control" type="number" id="tarifa" name="tarifa" value="{{ tarifa }}" min="0"/>
                        <div class="input-group-append">
                        <span class="input-group-text">Tarifa</span>
                        </div>
                    </div>


                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn-secondary" type="submit" style="margin-left: 20px;">
                          <i>Aplicar</i>
                        </button>
                      </div>

                </div>
            </div>        
        </div>
    </div>
</div>
-->

<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'menu_estacionamiento:calendario' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'menu_estacionamiento:calendario' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'menu_estacionamiento:tarifa_nueva' %}"> New Tarifa </a>
</div>
{{ calendario }}
{% endblock content%}