{% extends "menu_estacionamiento.html" %}

{% block subtitle %}
  <h1>Inicio</h1>
{% endblock subtitle %}

{% block content %}

  <div class="content-area" style="padding-left:30px; padding-right:30px; padding-bottom:30px;" >
    <div  class="wrapper">
      <h2>Instrucciones ESTACIONAMIENTO</h2>

      <div class="form-group" style="padding:20px;">
        <!--<a style="text-decoration:none" href={% url 'estacionamiento:cierre-caja' %}>-->
        <a style="text-decoration:none">
          <button style="text-decoration:none" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#modalCierreCaja" id = "CajaCerrar">Cierre Caja</button>
          <!--<button class="btn btn-outline-info btn-lg" type="submit">Cierre Caja</button>-->
        </a>
        <a style="text-decoration:none">
          <button style="text-decoration:none" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#modalMensual" id = "cerrarMes">Emitir Resumen Mensual</button>
        </a>
        <!--<a style="text-decoration:none" href={% url 'estacionamiento:resumen-mensual' %}>
          <button class="btn btn-outline-info btn-lg" type="submit">Emitir Resumen Mensual</button>
        </a>-->
        <a style="text-decoration:none" href={% url 'estacionamiento:apertura-manual' %}>
          <button class="btn btn-outline-info btn-lg" type="submit">Apertura Manual</button>
        </a>
        <a style="text-decoration:none" href={% url 'menu_estacionamiento:playground' %}>
          <button class="btn btn-outline-info btn-lg" type="submit">PlayGround</button>
        </a>
        <a style="text-decoration:none" href= '/admin/'>
          <button class="btn btn-outline-info btn-lg" type="submit">Admin</button>
        </a>

      </div>

      <div class="modal fade" id="modalCierreCaja" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cierre de Caja</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id = 'recaudadoTexto'>Lo recaudado en esta Caja Fue: $</p>
              <table class="table">
                <tbody id="cobros"></tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id = "cerrarCaja">Cerrar Caja</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalMensual" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cierre de Caja</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id = 'recaudadoTexto'>Lo recaudado en esta Caja Fue: $</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id = "cerrarCaja">Cerrar Caja</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        const cobrosTable = document.getElementById('cobros');
        const loadCaja = async () => {
          try {
            const res = await fetch('/estacionamiento/cierre-caja');
            var caja = await res.json();
            load(caja);
          } catch (err) {
            console.error(err);
          }
        };
        const load = async (caja) => {
          const recolectado = caja.dinero;
          const cobros = caja.cobros;
          document.getElementById("recaudadoTexto").innerHTML = `Lo recaudado en la caja fue : $${recolectado}`;
          drawRows(cobros);
        };
        const drawRows = (cobros) => {
          const returnString = cobros.map((cobro) => {
            if (cobro.tipo == 'SOCIO' || cobro.tipo == 'SOCIO-MOROSO') {
              return `
                <tr>
                  <td>Cobro a Socio ${cobro.persona} por $${cobro.precio}</td>
                </tr>
              `;
            } else if (cobro.tipo == 'NOSOCIO') {
              return `
                <tr>
                  <td>Cobro a NoSocio DNI: ${cobro.persona} por $${cobro.precio}</td>
                </tr>
              `;
            } else if (cobro.tipo == 'PROVEEDOR') {
              return `
                <tr>
                  <td>Cobro a Proveedor ID: ${cobro.persona} por $${cobro.precio}</td>
                </tr>
              `;
            }
          }).join('');
          cobrosTable.innerHTML = returnString;
        };
        const cerrarCaja = async () => {
          try {
            const options = {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' }
            };
            const res = await fetch('/estacionamiento/cierre-caja/', options);
            var caja = await res.json();
            location.href = "/menu_estacionamiento/menu_estacionamiento";
          } catch(err) {
            console.error(err);
          }
        };
        const resumenMensual = async () => {
          try {
            const res = await fetch('/estacionamiento/emision-resumen');
            var mes = await res.json();
            console.log(mes);
            loadmes(mes);
          } catch (err) {
            console.error(err);
          }
        };
        const loadmes = async (mes) => {
          const inicio = mes.inicio
          const final = mes.final
          document.getElementById("recaudadoTexto").innerHTML = `El mes comienza el $${recolectado}`
        };
        document.getElementById('CajaCerrar').addEventListener('click', () => {
          loadCaja();
        });
        document.getElementById('cerrarCaja').addEventListener('click', () =>{
          cerrarCaja();
        });
        document.getElementById('cerrarMes').addEventListener('click',() =>{
          resumenMensual();
        });
      </script>

      <p style="font-size:18px; margin-top:20px;">
        Bienvenido al Sistema de Control de Acceso ESTACIONAMIENTO de la <strong>Sociedad Alemana de Gimnasia de Villa Ballester</strong> - 
        <strong>SAGVB</strong>.<br><br>
        El uso del sistema es bastante simple, como se puede ver en la barra horizontal de arriba están colocados
        una serie de <strong>links</strong> que lo llevarán a las distintas secciones de nuestra página.<br>
        El sistema se divide en <strong>4 secciones principales</strong>, estas son:<br>
        <strong>Historial</strong>, <strong>Acceso Manual</strong>,
        <strong>Vincular Tarjetas</strong> y <strong>Subir Archivos</strong>.<br><br>
        <ul style="text-align:justify">
          <li>
            En el <strong>Historial</strong> veremos un registro de todas las entradas y salidas de los usuarios en el establecimiento.
          </li><br>
          <li>
            En el <strong>Acceso Manual</strong> tendrán la opción de permitirle el paso tanto a <strong>Socios</strong> como a
            <strong>No Socios</strong> en caso de que por alguna razón el sistema automatizado falle. Para el <strong>acceso</strong>
            de <strong>socios</strong> solo deberá seleccionar al socio o socios y especificar si están 
            <strong>entrando</strong> o <strong>saliendo</strong> de las instalaciones. En el caso del <strong>acceso</strong>
            para <strong>no socios</strong> solo deberá especificar la cantidad de <strong>no socios</strong> que desean ingresar.
          </li><br>
          <li>
            En la sección de <strong>Vincular Tarjetas</strong> habrá un listado de todos los usuarios donde podrá observarse si los usuarios
            disponen de un <strong>número de tarjeta</strong>. En caso de no disponer, en esta sección podrá <strong>asignarle uno</strong>.
          </li><br>
          <li>
            En la sección de <strong>Subir Archivo</strong> se subirá el archivo que contiene la información de todos los usuarios para cargar a la <strong>base de datos</strong> de nuestro sistema. El archivo a subir debe ser del tipo <strong>.csv</strong>. En esta sección,
            a su vez, podrá especificar la <strong>deuda máxima</strong> que los usuarios pueden tener para poder acceder
            a las instalaciones.
          </li>
        </ul><br>
      </p>
    </div>
  </div>

{% endblock content%}
