{% extends "menu_estacionamiento.html" %}

{% load static %}
{% load render_table from django_tables2 %}

{% block subtitle %}
  <h1>Proveedores</h1>
{% endblock subtitle %}

{% block content %}
  <div class="content-section" style="padding:20px;">
    <div id="form_card" class="card-panel col s12">

      <div class="input-group mx-auto" style="margin-bottom: 25px;">
        <input type="text"  placeholder="Buscar..." name="buscar" id="buscar" value="" style="padding: 10px">
        </input>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th class="orderable">
              <a href="?sort=idProveedor">ID</a>
            </th>
            <th class="orderable">
              <a href="?sort=nombre_proveedor">Proveedor</a>
            </th>
        </thead>

        <tbody id="proveedores">
        </tbody>
      </table>

    </div>
  </div>

  <script src="{% static 'usuariosistema/index.js' %}">
{% endblock content %}
