{% extends "usuariosistema/base.html" %}
{% block content %}

  <div class="hero-image">
    <div class="hero-text">
      <h1>Subir Archivos </h1>
      <p style="font-size: 20px;">Sistema de Control</p>
    </div>
  </div> 


  <div class="container" style="padding: 20px;">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <form class="form-container" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <h2>Subir</h2>
                <label for="deuda">Deuda Max:</label>
                <input type="number" id="deuda" name="deuda" value={{deuda.deuda}}><br><br>
                {% csrf_token %}
                <input type="file" name="document">
                <button type="submit">Subir archivo</button>
              </div>
            {% if url %}
              <p>Archivo subido: <a href="{{ url }}">{{ url }}</a></p>
            {% endif %}
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Puede tardar más de un minuto</h1>

{% endblock %}