{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="shortcut icon" type="image/png" href="{% static 'usuariosistema/favicon.ico' %}"/>
    <link rel="stylesheet" title="text/css" href="{% static 'usuariosistema/main.css' %}">
    

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <dmiscript src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

    {% if title %}
      <title>Server 9 de Julio | {{ title }}</title>
    {% else %}
      <title>Server 9 de Julio</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a href="{% url 'usuariosistema:home'%}" class="btn btn-danger navbar-btn mr-4">Ir a Control Acceso</a>
         <!-- <button class="btn btn-danger navbar-btn mr-4" href="{% url 'menu_estacionamiento:menu_estacionamiento'%}">Estacionamiento</button>-->
          <a class="navbar-brand mr-4" href="{% url 'menu_estacionamiento:menu_estacionamiento' %}">Server 9 de Julio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" style="padding:10px" href="{% url 'menu_estacionamiento:menu_estacionamiento' %}">Inicio</a>
                <a class="nav-item nav-link" style="padding:10px" href="{% url 'menu_estacionamiento:seleccionarCalendario' %}">Calendario</a>
                <a class="nav-item nav-link" style="padding:10px" href="{% url 'menu_estacionamiento:resumenTiempoReal' %}">Resumen Tiempo Real</a>
                <a class="nav-item nav-link" style="padding:10px" href="{% url 'menu_estacionamiento:proveedores' %}">Proveedores</a>
                <a class="nav-item nav-link" style="padding:10px" href="{% url 'menu_estacionamiento:historial' %}">Historial</a>
              {% endif %}
            </div>

            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar sesión</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="hero-image">
      <div class="hero-text">
        {% block subtitle %}{% endblock subtitle %}
        <p style="font-size: 20px;">Estacionamiento</p>
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="padding:10px; margin-bottom:0px">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(function () {
        $("#datetimepicker1").datetimepicker();
        $("#datetimepicker2").datetimepicker();
      });
    </script>
    
  </body>
</html>